@keyframes mother-claw {
  0% { background-position: 0px 0px; }
  10% { background-position: -150px 0px; }
  20% { background-position: -300px 0px; }
  30% { background-position: 0px -150px; }
  40% { background-position: -150px -150px; }
  50% { background-position: -300px -150px; }
  60% { background-position: 0px -300px; }
  70% { background-position: -150px -300px; }
  80% { background-position: -300px -300px; }
  90% { background-position: 0px -450px; }
  100% { background-position: 0px 0px; }
}

.mother-claw-animation {
  width: 150px;
  height: 150px;
  background-image: url('/images/MotherHandAttackMasked.png');
  background-size: 450px 600px;
  image-rendering: pixelated;
  animation: mother-claw 1s steps(1) infinite;
}

@keyframes boy-idle {
  0% { background-position: 0px 0px; }
  50% { background-position: 256+128px 0px; }
  100% { background-position: 0px 0px; }
}

.boy-idle-animation {
  width: 128px;
  height: 128px;
  background-image: url('/images/boy-idle.png');
  background-size: 512px 128px;
  image-rendering: pixelated;
  animation: boy-idle 1s steps(1) infinite;
}

@keyframes boy-run {
  0%   { background-position:      0px        0px; }
  12.5%  { background-position: -170.666px     0px; }
  25%  { background-position: -341.333px     0px; }
  37.5%  { background-position:      0px      -170.666px; }
  50%  { background-position: -170.666px   -170.666px; }
  62.5%  { background-position: -341.333px   -170.666px; }
  75%  { background-position:      0px      -341.333px; }
  87.5%  { background-position:      -170.666px   -341.333px; }
  100% { background-position: 0px   0px; }
}

.boy-run-animation {
  position: relative;
  width: 170px;
  height: 170px;
  background-image: url('/images/running-boy.png');
  background-size: 512px 512px;
  image-rendering: pixelated;
  animation: boy-run 1s steps(1) infinite;
}

.run-wrapper {
  position: relative;      /* stays on top, does not affect layout */
  animation-name: boy-move;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  pointer-events: none; /* so it doesn't block clicks */
}

@keyframes boy-move {
  0%   { transform: translateX(var(--start-position)); }
  100% { transform: translateX(var(--distance)); }
}